<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
    </table>
    <ListItem *ngFor = "let ListItem of list" [data]="ListItem"> </ListItem>
  
</div>